* {
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica;
}

#poke-header {
  background-color: #ee1515;
  height: 300px;
}

#poke-header2 {
  background-color: #222224;
  height: 25px;
}

#pokeball-center {
  background-color: white;
  height: 400px;
  width: 400px;
  border: 10px solid #222224;
  border-radius: 50%;
  margin: -200px auto;
  animation: tada 3s;
}

.trainer {
  width: 80%;
  margin: 10px 40px;
  animation: tada 3s;
}

@keyframes tada {
  from {
   -webkit-transform: scale3d(1, 1, 1);
   transform: scale3d(1, 1, 1);
 }
 10%,
 20% {
   transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
 }
 30%,
 50%,
 70%,
 90% {
   transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
 }
 40%,
 60%,
 80% {
   transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
 }
 to {
   transform: scale3d(1, 1, 1);
 }
}

#trainer-stats {
  margin-top: 220px;
  height: 500px;
  /* border: 1px solid black; */
  font-size: 30px;
}

#bugBadge {
  width:20%;
  display: inline-block;
}

#cliffBadge {
  width:20%;
  display: inline-block;
}

#rumbleBadge {
  width:35%;
  display: inline-block;
}

#Pokemon {
  height: 500px;
  background-color: red;

}

#size {
  width: 300px;
  height: 300px;
}

#Lucario {
  background-color: white;
  height: 400px;
  display: inline-block;
  box-shadow: 3px 5px;
  margin-top: 50px;

}

#Charizard {
  background-color: white;
  height: 400px;
  display: inline-block;
  box-shadow: 3px 5px;
  margin-top: 50px;
}

#Delphox {
  background-color: white;
  height: 400px;
  display: inline-block;
  box-shadow: 3px 5px;
  margin-top: 50px;
}
